html, body {
    margin: 0;
    padding: 0;
}

header #logo_menu {
	width: 502px;
	height: 135px;
	display: block;
	margin: auto;
	padding: 50px;
	
}

#hero {
	background-image: url("images/hero.png");
	display: block;
	height: 70px;
	margin: auto;
	background-size: cover;
	background-position: center;
}

#hero>h1 {
	color: white;
	font-family: 'Playfair Display', serif;
	font-size:  32px;
	font-weight: normal;
	text-align: center;
	line-height: 70px;
}

main .all {
	width: 990px;
	height: 1056px;
	margin: auto;
	margin-top: 50px;
}


main div a {
	float: left;
	text-align: center;
}

main div a {
	width: 310px;
	height: 229px;
}

main a:not(.right) {
	margin-right: 30px;
}

main .mid {
	margin-top: 30px;
}
main .bot {
	margin-top: 30px;
}

main .clear {
	clear: left;
}

.down {
	width: 990px;
	margin: auto;
}

footer {
	margin-top: 80px;
	height: 167px;
	background-color: black;
}

ul {
	margin-bottom: 70px;
	margin-top: 70px;
	height: 27px;
	padding-left: 0px;
	display: inline-block;
}

footer ul li {
	color: white;
	list-style-type: none;
	display: inline;
	
}

#home {
	margin-right: 50px;
	margin-left: 25px;
}

#gallery {
	margin-right: 50px;
}

ul a {
	font-family: 'Playfair Display', serif;
	font-size: 16px;
	text-decoration: none;
	color: white;
}

footer #logo {
	float: right;
	margin-right: 25px;
	margin-top: 50px;
}